<!-- Normal form
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user[username]">Username:</label>
  <input type="text" id="username" name="user[username]" value=<%= @user.username %>><br><br>

  <label for="user[email]">Email:</label>
  <input type="text" id="email" name="user[email]" value=<%= @user.email %>><br><br>

  <label for="user[password]">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>

  <input type="submit" value="Submit">
</form> 
-->

<!-- Railsy form
<%= form_with(url: "/users", method: 'post') do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field(:user, :username) %><br />

  <%= label_tag(:email, "Email:") %>
  <%= text_field(:user, :email) %><br />

  <%= label_tag(:password, "Password:") %>
  <%= password_field(:user, :password) %><br />

  <%= submit_tag("Submit") %>
<% end %>
-->

<!-- Railsy-er form -->
<div>
  <%= form_for @user do |f| %>
    Username: <%= f.text_field :username, value: @user.username %><br />
    Email: <%= f.text_field :email, value: @user.email %><br />
    Password: <%= f.password_field :password %><br />
    <%= f.submit %>
  <% end %>
<div>
<!-- -->